.header {
    background-color: hsl(160, 13%, 33%);
    padding: 0.4rem 0;

    section {
        color: hsl(150, 6%, 93%);
        padding: 1rem 13%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100vh;

    h2 {
        font-size: 4rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    p {
        font-size: 20px;
        max-width: 520px;
        line-height: 1.5;
        margin-bottom: 30px;
    }
}

.banner-image {
    flex: 1;
    max-width: 380px;

    img {
        width: 100%;
        border-radius: 14px;
        object-fit: cover;
    }
}

.menu-link {
    display: inline-block;
    padding: 1rem 1rem;
    width: 25%;
    background-color: hsl(50, 91%, 52%);
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 1rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: hsla(50, 91%, 52%, 0.8);
    }
}

@media screen and (max-width: 768px) {
    .header {
        section {
            flex-direction: column;
            text-align: center;
        }
    }

    .banner, .banner-image {
        max-width: 100%;
    }

    .banner-image {
        margin-top: 20px;
    }
}